<!DOCTYPE html>

<html>

    <% include ../partials/head %>
    
<body>
    <div>

        <h4 class="list-group-item-heading">  <%= message %> </h4>
            
        <form class="form-horizontal" role="form" id="ItemForm" method="get" action="https://www.grosse-kiesau.de/14-grosse-kiesau-literaturnacht-kommen-und-gehen/programm">
            <p class="list-group-item-body"> Hier geht's zurück zur Große-Kiesau-Literaturnacht: </p>
            <button class="btn submitBtn">Zurück</button>
        </form>
    </div> 
</body>
</html>