<!DOCTYPE html>

<html>

    <% include ../partials/head %>
    
<body>
    <div>

        <h4 class="list-group-item-heading">  <%= message %> </h4>
            
        <form class="form-horizontal" role="form" id="ItemForm" method="get" action="/">

            <button class="btn submitBtn">Back</button>
        </form>
    </div> 
</body>
</html>